@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 font-sans;
}

button {
    @apply border-none cursor-pointer;
}

a {
    color: inherit;
}

.talipaapp-input-1,
.talipaapp-input-1 input {
  @apply bg-[#C2CFA0] text-sm text-[#424b27] placeholder:text-[#606C38];
  accent-color: #424b27;
}

.talipaapp-input-1,
.talipaapp-input-1.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled) {
  @apply hover:border-[#606C38] focus:border-[#606C38] focus:shadow-sm;
}
.talipaapp-input-1.ant-input-affix-wrapper-focused {
  @apply border-[#606C38] shadow-sm;
}

.talipaapp-button-1 {
  @apply block bg-[#606C38] py-2.5 px-4 rounded text-white text-center hover:bg-[#606C38]/90;
}

.talipaapp-scrollbar {
  scrollbar-color: rgb(179, 179, 179) #f1f1f1; /* thumb and track color */
  scrollbar-width: thin;
}

.talipaapp-scrollbar::-webkit-scrollbar { width: 5px; }
.talipaapp-scrollbar::-webkit-scrollbar-track { background-color: #f1f1f1; }
.talipaapp-scrollbar::-webkit-scrollbar-thumb { background-color: rgb(179, 179, 179); }