@tailwind components;

@layer components {
  .ant-rate-star:not(:last-child) {
    margin-right: 2px;
  }

  .anticon svg {
    vertical-align: baseline;
  }

  .talipaapp-input-1,
  .talipaapp-input-1 input {
    @apply bg-[#C2CFA0] text-sm text-[#424b27] placeholder:text-[#606C38];
    accent-color: #424b27;
  }

  .talipaapp-input-1,
  .talipaapp-input-1.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled) {
    @apply hover:border-[#606C38] focus:border-[#606C38] focus:shadow-sm;
  }
  .talipaapp-input-1.ant-input-affix-wrapper-focused {
    @apply border-[#606C38] shadow-sm;
  }

  .talipaapp-button-1 {
    @apply block rounded bg-[#606C38] py-2.5 px-4 text-center text-white hover:bg-[#606C38]/90;
  }

  .talipaapp-scrollbar {
    scrollbar-color: rgb(179, 179, 179) #f1f1f1; /* thumb and track color */
    scrollbar-width: thin;
  }

  .talipaapp-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .talipaapp-scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  .talipaapp-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
  }

  .app-size {
    @apply mx-auto max-w-md;
    min-height: 100vh;
    min-height: 100dvh;
  }

  .animate-slide-in,
  .animate-slide-out,
  .animate-slide-left,
  .animate-slide-right {
    animation-duration: 200ms;
    animation-timing-function: ease-in;
  }

  .animate-slide-in,
  .animate-slide-right {
    animation-name: slide-in;
    opacity: 1;
  }

  .animate-slide-out {
    @apply transition-opacity delay-[200ms];
    animation-name: slide-out;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  .animate-slide-left {
    animation-name: slide-left;
  }
}

.ant-steps.ant-steps-navigation .ant-steps-item {
  flex: 1 0 auto;
}

.ant-steps.ant-steps-navigation .ant-steps-item::after {
  margin-left: 8px;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.chat {
  @apply mt-1 max-w-xs rounded-3xl px-3 py-2 text-md flex-shrink-0;
}

.chat.chat-sent {
  @apply bg-blue-500 self-end text-white;
}

.chat.chat-received.chat-hasnext {
  @apply rounded-bl;
}

.chat.chat-received.chat-hasprev {
  @apply rounded-tl;
}

.chat.chat-sent.chat-hasnext {
  @apply rounded-br;
}

.chat.chat-sent.chat-hasprev {
  @apply rounded-tr;
}

.chat.chat-received {
  @apply bg-[#F0F4F5] self-start text-black;
}

.ant-modal-body {
  @apply talipaapp-scrollbar;
}
